.viewButtondash {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    cursor: pointer;
  }
  
  .deleteButtondash {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
  }
  
  .MuiInputBase-root.MuiInputBase-colorPrimary.MuiTablePagination-input.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
    margin-top: -14px;
  }
  
  .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar
    .MuiTablePagination-actions {
    margin-top: -14px;
  }
  
  .css-pdct74-MuiTablePagination-selectLabel {
    display: none !important;
  }
  .MuiSelect-select.MuiTablePagination-select.MuiSelect-standard.MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input {
    display: none !important;
  }
  
  .MuiTablePagination-spacer.css-1psng7p-MuiTablePagination-spacer {
    display: none !important;
  }
  .MuiInputBase-root.MuiInputBase-colorPrimary.MuiTablePagination-input.css-16c50h-MuiInputBase-root-MuiTablePagination-select
  {
      display: none !important;
  }
  .pupitre-select {
    padding: 10px;
    border: 1px solid #c4c4c4; /* Couleur de bordure légère */
    border-radius: 4px; /* Rayon de bordure pour les angles arrondis */
    background-color: white;
    font-size: 16px; /* Taille de police standard */
    color: #333; /* Couleur de texte standard */
    outline: none; /* Supprime la bordure de mise au point par défaut */
    margin-bottom: 20px; /* Espace en dessous du select */
    cursor: pointer; /* Change le curseur en pointeur */
  }
  
  .pupitre-select:hover {
    border-color: #a0a0a0; /* Assombrir la bordure au survol */
  }
  
  .pupitre-select:focus {
    border-color: #3f51b5; /* Couleur de mise au point, peut utiliser la couleur primaire de votre thème MUI */
  }
  /* ListeCandidatesParPupitre.css */
.boxContainer {
  height: 650px; /* Augmentez la hauteur pour mieux afficher le tableau */
  width: '100%';
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacement entre les éléments */
  padding: 20px; /* Padding autour du composant */
}

.dataGridContainer {
  flex-grow: 1; /* Permet à la grille de prendre tout l'espace vertical disponible */
  border: 1px solid #e0e0e0; /* Bordure légère autour de la grille */
}

.formControl {
  min-width: 120px; /* Largeur minimale pour le sélecteur */
}

/* Style spécifique pour le sélecteur (dropdown) */
.selectPupitre {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px 15px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
