.seasons-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    max-height: calc(100vh - 100px); /* Ajuster la hauteur maximale en fonction de la hauteur de la fenêtre moins la hauteur de la barre de navigation */
    overflow-y: auto; /* Activer le défilement vertical si le contenu dépasse la hauteur maximale */
    position: fixed; /* Fixer la position de la liste */
    left: 0; /* Aligner la liste sur la gauche */
    right: 0; /* Aligner la liste sur la droite */
    margin-top: -400px; 
    padding: 20px; /* Ajouter un espacement intérieur pour éviter de cacher le contenu sous la barre de navigation */
  }
  
  .loading {
    text-align: center;
    font-size: xx-large;
    color: cadetblue;
    font-weight: bold;
  }
  