.position-absoluteListeOeuvre {
    position: absolute;
    top: 50%;
    left: 58.5%;
    transform: translate(-50%, -40%);
    width: 1200px;
    height: 700px
}

.headrowoeuvre{
    background-color: rgb(87, 141, 240);
    height: 90px;
    border-color: transparent !important;
    margin-top: 0;
}
.headrowoeuvre .headrowtext {
    color: white;
}
.taboeuvre{
height: 80px;
}
.taboeuvre td {
    border-color: transparent !important;
}
.actionicon{
    cursor: pointer;
}
.attributselected{
    color: green;
}
.attributselectednumero{
    color: rgb(168, 3, 3)
}
.titreselected{
    color: rgb(71, 71, 244)
}
.dialogupdatecontent{
    margin-top: 20px;
}
.liste-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.titre {
    margin-right: 20px;
}
.searchicon{
    cursor: pointer;
}
.searchbar{
    background-color: rgb(218, 219, 220);
}