.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 83, 83, 0.5); /* Noir semi-transparent */
  z-index: 999; /* Assurez-vous que le z-index est inférieur à celui de la popup mais supérieur à celui du tableau */
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Définir un z-index élevé */
}

.popup-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 450px;
  margin: 0 auto;
}
.popup-content {
  max-height: 600px; /* Hauteur maximale de la zone de contenu */
  overflow-y: auto; /* Activer le défilement vertical */
}

.close {
  position: absolute;
  top: 2px;
  right: 4px;
  cursor: pointer;
  width: 15px;
}
.close:hover{
  background-color: rgb(238, 238, 250);
}
.auditionTable {
    margin-top: 100px;
    margin-left: 130px;
  }
  
  .auditionTableTitle {
    color: black;
    font-size: 30px;
  }
  
  .viewButtondash{
    margin-right: 4px;
  }
  .candidaIdPopup{
    color: green;
  }
  .auditionIdPopup{
    color: black;
  }
  .popup1 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
  }
  
  .popup1-container {
    background-color: white;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: auto; 
    max-width: 500px; 
    padding: 20px;
    position: relative; 
  }
  
  .popup1-content {
    margin-top: 20px;
    font-size: 15px; 
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px; 
    cursor: pointer;
  }
  
