
.AuditionUpdateFormContainer{
    margin-top: 20px;
    margin-left: 130px;

}
.AuditionUpdateFormContainer p{
   
    color: black;
    font-size: 30px;
    margin-left: 9px ;
    
}

.AuditionUpdateInfoForm{
    display: flex;
    flex-direction: row;
    flex: 30%;
}

.AuditionUpdateField{
    width: 300px !important;
}

.AuditionUpdateFormButton{
    margin-left: 9px !important;
    margin-top: 20px !important;
    width: 300px !important
}

.selectTessiture{
  margin-top: 8px !important;
  margin-right: 14px !important;
  margin-left: 9px !important;
}

.selectEvaluation{
  margin-top: 8px !important;
}

.selectDecisionUpdate{
  margin-top: 25px !important;
  margin-left: 180px !important;
  margin-right: 180px !important
}



.bottonFormAddAudditionUpdate{
  margin-top: 20px;
  margin-bottom: 30px;

}

.ButtonAndRemarqueAuditionUpdate{
  display: flex;
  flex-direction: column;
  
}

.RemarqueAuditionUpdate{
  width: 98.5% !important;
}
