.auditionTable {
  margin-top: 100px;
  margin-left: 130px;
}

.auditionTable {
  color: black;
  font-size: 30px;
}

.autionTableTitleAndButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.autdionButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px !important;
  margin-left: 10px;
  
}


.auditionButtonWords{
    padding-top: 5px ;
    padding-bottom: 5px ;
}


.auditionFormContainer{
    margin-top: 20px;
    margin-left: 130px;

}
.auditionFormContainer p{
   
    color: black;
    font-size: 30px;
    margin-left: 9px ;
    
}

.addAuditionInfoForm{
    display: flex;
    flex-direction: row;
    flex: 30%;
}

.auditionField{
    width: 300px !important;
}

.auditionFormButton{
    margin-left: 9px !important;
    margin-top: 20px !important;
    width: 300px !important
}

.selectTessiture{
  margin-top: 8px !important;
  margin-right: 14px !important;
  margin-left: 9px !important;
}

.selectEvaluation{
  margin-top: 8px !important;
}

.selectDecision{
  margin-top: 8px !important;
  margin-left: 15px !important;
}



.bottonFormAddAuddition{
  margin-top: 20px;
  margin-bottom: 30px;
}

.ButtonAndRemarqueAudition{
  display: flex;
  flex-direction: column;
  
}

.RemarqueAudition{
  width: 98.5% !important;
}

