.afficheContenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20vh;
    left: 25vw;
    padding: 30px;
}

.selectPlacement {
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: blueviolet;
    padding-block: 10px;
    padding-inline: 20px;
}

.tablePlacement {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color:#000080;
}

th {
    background-color: palevioletred;
}


.but{
    text-align: center;
    
}
.butin{
    font-size:large;
    background-color:#000080;
    width: 5px;
    padding-left: 3px;
   
}
.butin:hover{
    background-color: #8c1aff;
    
}
.butinin{
    text-align: center;
    margin-left: 5px;
   
}
.graph-container {
    display: flex;
    justify-content: space-between;
}

.pupitre-column {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    /* Display members from bottom to top */
    align-items: center;
    margin: 0 10px;
}

.pupitre-line {
    width: 2px;
    height: 100%;
    /* Extend the line to cover the entire height */
    background-color: black;
}

.membre-container {
    flex: 1;
    /* Fill available vertical space */
    display: flex;
    flex-direction: column-reverse;
    /* Display members from bottom to top */
    align-items: center;
    justify-content: flex-end;
    /* Align members to the bottom */
}

.membre {
    width: 20px;
    height: 20px;
    background-color: blue;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 5px;
}

.membre-button{
    width: 170px;
}
.member-info-container {
    text-align: center;
    margin-top: 20px;
    /* Adjust as needed */
}

.member-info {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    /* Adjust as needed */
    margin: 0 auto;
    /* Center horizontally */
}

.member-info p {
    margin: 10px 0;
}

.member-info p span {
    font-weight: bold;
    margin-right: 10px;
}
.seemore{
    font-size: small;
    color: #D6589F;
    text-decoration: underline;
}