.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  width: 80vw;
}
.layout{
    display:flex;
}

.concert-table {
    border-collapse: collapse;
    width: 60vw;
    
}

.concert-table th,
.concert-table td {
    border: 1px solid #ddd;
    padding: 4px;
}

.concert-table th {
    background-color: #f2f2f2;
}

.concert-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.concert-table tr:hover {
    background-color: #ddd;
}

.delete{
    border:none;
   background-color: transparent;
}

.Fa{
    color:#333399;
    
}
.Md{
    color: red;
}
.title
{
    
    font-weight: bold;

}
.titleCounter{
    width: 70vw;
    display: flex;
    justify-content: center;
    padding: 0.5vw;
    margin:2vh ;
    height: 5vh;
}
.delete{
    margin: 0;
    padding: 0.5vw;
}
.edit
{
    width: 5vw;
}