.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  width: 80vw;
}
.concert-table {
    border-collapse: collapse;
    width: 70%;
    /* Adjust as needed */
}

.concert-table th,
.concert-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.concert-table th {
    background-color: #f2f2f2;
}

.concert-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.concert-table tr:hover {
    background-color: #ddd;
}

.delete{
    border:none;
   background-color: transparent;
}

.Fa{
    color:#333399;
    
}
.Md{
    color: red;
}
.title
{
    
    font-weight: bold;

}
.titleCounter{
    width: 70vw;
    display: flex;
    justify-content: center;
    padding: 1vw;
    margin:2vh ;
}
.delete{
    margin: 0;
    padding: 0.5vw;
}