.form  {
    border-radius: 5px;
    background-color: white;
    
}

.inp{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-size: medium;
}

.custom-label {
font-size:x-large;

}

.btns{
    display: flex;
    justify-content:space-around;

}

.btn-modification{
    width: 30%;
    height: auto;
    padding: 14px 20px;
    font-size: large;
    font-weight:500;
 
    
}

.btn-archivage{
    width: 30%;
    height: auto;
    padding: 14px 20px;
    font-size: large;
    font-weight:500;
    background-color: #00b27a
    ;
 
    
}

.title{
    display: block;
    text-align: center;

}

.nomSaison{
    font-size: 30px;
}

.dateSaison{
    font-size: 20px;
    font-weight: bold;
}

.loading {
    text-align: center;
    font-size: xx-large;
    color: cadetblue;
    font-weight: bold;
}

.archived-season{
    text-align: center;
    font-size: xx-large; 
    font-weight: bold;

}